:global(.ui.modal) {
  >:global(.header).header {
    display: flex;
    justify-content: space-between;
  }
}

:global(.ui.basic.label).toolbarBtn {
  border: none
}

.cropper {
  position: relative;
  height: 300px;
}

