:global(.ui.modal) {
  >:global(.header).header {
    display: flex;
    justify-content: space-between;
  }
}

:global(.ui.basic.label).toolbarBtn {
  border: none
}

.btnImgLabel {
  margin: 0 0 0 10px;
}

